:root{




}

input#search{
    border: gray 1px solid;
}

.text-center{
    justify-content: center !important;
    vertical-align: middle !important;

}

td{
    vertical-align: middle !important;
}

/* migas de pan  */
.page-header {
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-bottom: 1px solid #e5e5e5;
}
.page-header h3 {
    margin-top: 0;
}
.breadcrumb {
    margin-top: 9px;
    margin-bottom: 0;
    padding: 0;
}
.breadcrumb li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
.breadcrumb li + li:before {
    content: "/";
    margin-right: 5px;
    margin-left: 5px;
    color: #ccc;
}
.breadcrumb .active {
    color: #555;
}

/* select 2 */
.form-control-wrap{
    margin-top: 0.4rem !important;
}
.select2-container .select2-selection {
    height: 56px ; /* Cambiar el valor para ajustar el tamaño deseado */
    line-height: 56px !important; /* Ajusta la altura de línea según tus necesidades */
}

/* Estilo personalizado para el texto del select2 */
.select2-container .select2-selection__rendered {
    line-height: 40px !important; /* Ajusta la altura de línea según tus necesidades */
}

/* Estilo personalizado para la flecha del select2 */
.select2-container .select2-selection__arrow {
    height: 56px !important; /* Ajusta la altura de la flecha según tus necesidades */
}

/* modal centered */
.text-center{
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    vertical-align: middle !important;
}

.modal-dialog{
    display: flex !important;
    vertical-align: center !important;
    justify-content: center !important;
    margin: auto !important;
    flex: content !important;
}

/* dropify */
.dropify-wrapper .dropify-message p {
    font-size: 13pt !important;
}
